@font-face {
  font-family: "LemonMilk";
  src: url("../../public/LEMONMILK-Bold.otf");
}
@font-face {
  font-family: "Cool";
  src: url("../../public/coolvetica.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
}
#textbox {
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #text {
   display: none;
  }
  #Firstprj h1{
    font-size: 20px;
  }
  #Firstprj span{
    font-size: 15px;
  }
  #Firstprj p{
    font-size: 15px;
  }  
}

#text h1 {
  position: absolute;
  text-transform: capitalize;
  font-size: 3rem;
  font-family: "LemonMilk";
  font-weight: 700;
  color: #000000;
  text-align: center;
}

#third {
  font-family: "Cool";
  height: 230vh;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10%;
  background-size: cover;
  background-position: center;
}

#Firstprj {
  font-family: "Cool";
  background-color: #ffffff;
  padding: 100px;
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  #Firstprj {
    padding: 50px;
  }
  #third {
    height: 100vh;
  }
  
}
#Firstprj span {
  font-size: 18px;
  font-weight: 700;
  color: #616161;
  letter-spacing: 1px;
  text-transform: capitalize;
}

#Firstprj a {
  text-decoration: none;
  color: #000000;
}

#Firstprj:hover {
  transform: scale(1.1); /* Increase the scale for a smoother effect */
  transition: transform 0.3s ease-in-out; /* Adjust the transition property */
  cursor: pointer;
}

.custom-scrollbar {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d7bf8a #3f3f3f; /* Firefox */
  scroll-behavior: smooth;
  scroll-margin: 1px;
}

.custom-scrollbar:hover {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cb9011 #eeeeee; /* Firefox */
}

/* Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #eeeeee;
}






/* ######################################Footer###################################################  */
#fourth {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: absolute;
  padding-bottom: 40px;
  text-transform: capitalize;
}
#footer {
  padding: 30px;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
#footer h1 {
  font-family: "Nexa";
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffffff;
}
#footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
#footer a:hover {
  color: #434343;
  cursor: pointer;
  transition: 0.5s;
  
}

#footer p {
  font-family: "LemonMilk";
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
}
#foorter h5 {
  font-family: "LemonMilk";
  font-size: 30px;
  letter-spacing: 1px;
}
#Circle {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #f7f7f7;
  border-radius: 50%;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  user-select: none;
  margin-top: 30px;
}

#Circle:hover {
  background-color: #ffffff;
  color: #ffffff;
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
}

#Circle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#aCircle {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  user-select: none;
}

#aCircle:hover {
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
}

#aCircle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


#FCircle {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #000000;
  border-radius: 50%;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  user-select: none;
  margin-top: 30px;
  left: 75%;
  top: 140%;
}
#About {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  left: 75%;
  top: 130%;
  font-size: 40px;
}
#About h2{
  font-family: "Cool";
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

#FCircle:hover {
  background-color: #000000;
  color: #000000;
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
}

#FCircle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #FCircle {
    left: 65%;
    top: 160%;
  }
  #About {
    left: 75%;
    top: 130%;
  }
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 30px;
}

#socials a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #socials,
  #About,
  #FCircle {
    display: none;
  }
}