*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.intro{
    font-family: 'Auto', sans-serif;
    height: 100%;
    background-color: #A57D32;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Auto;
    transition: opacity 1s ease-in-out;

}